body{
    width: 95%;
    
}
.name{
    font-weight: bolder;
}
table{
    width: 90%;
    text-align: center;
    margin: 20px;
    scroll-behavior: smooth;
    scale: none;
    border: solid 6px;
    text-align: middle;
    

}
